<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-5">
        <div class="card">
          <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
            <img src="assets/404.png" class="img-fluid" />
          </div>
          <div class="card-body">
            <h4 class="card-title">404</h4>
            <p class="card-text">
              Page not found
            </p>
            <a href="network" class="btn btn-primary waves-light" mdbWavesEffect>Go to Network</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
