<main>
  <div class="container mb-3 mt-3">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-5">
        <div class="card">
          <img src="assets/404.png" class="card-img-top" />
          <div class="card-body">
            <h4 class="card-title">404</h4>
            <p class="card-text">
              Page not found
            </p>
            <a href="network" class="btn btn-primary">Go to Network</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>