<main>
  <div class="container">
    <!-- Commands, Power Commands-->
    <div class="row justify-content-center">
      <!-- Commands -->
      <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-7 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Log File Commands
            </h4>
            <div class="card-text">
              <ul class="list-group list-group-flush">
                <!-- Clear All Log Files -->
                <li class="list-group-item">
                  <button kendoButton [disabled]="loadingClrLogFiles" (click)="clearLogFiles()">
                    <span class="spinner-border spinner-border-sm me-2" *ngIf="loadingClrLogFiles"></span>
                    <fa-icon [icon]="faTrash" class="me-2"></fa-icon>
                    <span>
                      Clear All Log Files
                    </span>
                  </button>
                </li>
                <!-- Change Log File Permissions -->
                <li class="list-group-item">
                  <button kendoButton [disabled]="loadingChngLogFilePerm" (click)="changeLogFilePermissions()">
                    <span class="spinner-border spinner-border-sm me-2" *ngIf="loadingChngLogFilePerm"></span>
                    <fa-icon [icon]="faLockOpen" class="me-2"></fa-icon>
                    <span>
                      Change Log File Permissions
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Power Commands -->
      <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-7 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Power Commands
            </h4>
            <div class="card-text">
              <ul class="list-group list-group-flush">
                <!-- Reboot Computer -->
                <li class="list-group-item">
                  <button kendoButton [disabled]="loadingRebootComputer" (click)="rebootComputerConfirm('open')">
                    <span class="spinner-border spinner-border-sm me-2" *ngIf="loadingRebootComputer"></span>
                    <fa-icon [icon]="faArrowRotateLeft" class="me-2"></fa-icon>
                    <span>
                      Reboot Computer
                    </span>
                  </button>
                </li>
                <!-- Shutdown Computer -->
                <li class="list-group-item">
                  <button kendoButton [disabled]="loadingShutdownComputer" (click)="shutdownComputerConfirm('open')">
                    <span class="spinner-border spinner-border-sm me-2" *ngIf="loadingShutdownComputer"></span>
                    <fa-icon [icon]="faPowerOff" class="me-2"></fa-icon>
                    <span>
                      Shutdown Computer
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dialogs -->

  <!-- Reboot Station Confirm -->
  <kendo-dialog title="Please confirm" *ngIf="rebootComputerConfirmOpen" (close)="rebootComputerConfirm('close')"
    [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to reboot the computer? Your connection will be
      lost
      afterwards.</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="rebootComputerConfirm('close')">No</button>
      <button kendoButton (click)="rebootComputerConfirm('yes')" themeColor="primary">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>

  <!-- Shutdown Station Confirm -->
  <kendo-dialog title="Please confirm" *ngIf="shutdownComputerConfirmOpen" (close)="shutdownComputerConfirm('close')"
    [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to shutdown the computer? Your connection will be
      lost.</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="shutdownComputerConfirm('close')">No</button>
      <button kendoButton (click)="shutdownComputerConfirm('yes')" themeColor="primary">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</main>
