<!-- Appbar -->
<kendo-appbar position="top" positionMode="sticky" themeColor="dark">
  <!-- Title -->
  <kendo-appbar-section>
    <h3>Netplan GUI</h3>
  </kendo-appbar-section>
  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>
  <!-- Navigation -->
  <kendo-appbar-section>
    <button kendoButton (click)="router.navigate(['network'])" [themeColor]="networkSelected ? 'primary' : 'base'"
      class="navbar_button">
      <fa-icon [icon]="faNetworkWired" class="me-2"></fa-icon>
      Network
    </button>
    <kendo-appbar-spacer width="15px"></kendo-appbar-spacer>
    <button kendoButton (click)="router.navigate(['commands'])" [themeColor]="commandsSelected ? 'primary' : 'base'"
      class="navbar_button">
      <fa-icon [icon]="faTerminal" class="me-2"></fa-icon>
      Commands
    </button>
    <kendo-appbar-spacer width="15px"></kendo-appbar-spacer>
    <button kendoButton (click)="logsClick()" class="navbar_button">
      <fa-icon [icon]="faArrowUpRightFromSquare" class="me-2"></fa-icon>
      Logs
    </button>
  </kendo-appbar-section>
</kendo-appbar>

<!-- Outlet -->
<router-outlet>
</router-outlet>