<!-- Appbar -->
<kendo-appbar position="top" positionMode="sticky" themeColor="dark">
  <!-- Title -->
  <kendo-appbar-section>
    <h1 class="title">Netplan GUI</h1>
  </kendo-appbar-section>
  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>
</kendo-appbar>
<!-- Navigation -->
<kendo-appbar-section>
  <ul>
    <li>
      < <a href="network">Network</a>
    </li>
    <li>
      < <a href="commands">Commands</a>
    </li>
    <li>
      < <a target="_blank" [attr.href]="LogsURL">Logs</a>
    </li>
  </ul>
</kendo-appbar-section>
<router-outlet>
</router-outlet>