<main>
  <div class="container mb-3 mt-3">
    <!-- Refresh -->
    <div class="row justify-content-center mb-3">
      <div class="col text-center">
        <button kendoButton (click)="refreshNetwork()" [disabled]="loading" style="width: 120px;" type="button">
          <span class="spinner-border spinner-border-sm me-2" *ngIf="loading"></span>
          Refresh
        </button>
      </div>
    </div>
    <!-- Bridge -->
    <div class="row justify-content-center mb-3">
      <!-- Bridge -->
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card border shadow">
          <div class="card-body">
            <h4 class="card-title">
              Bridge
            </h4>
            <div class="card-text">
              <form [formGroup]="BridgeForm" (ngSubmit)="onSubmitBridge(BridgeForm)">
                <!-- Enabled -->
                <kendo-formfield>
                  <kendo-label labelCssClass="kendoFormLabel" [for]="enabled" text="Enabled"></kendo-label>
                  <kendo-switch formControlName="enabled" [onLabel]="'Yes'" [offLabel]="'No'" #enabled></kendo-switch>
                  <kendo-formhint>Treat both ethernet ports of the computer as a switch.</kendo-formhint>
                </kendo-formfield>
                <!-- MAC Address LAN 1 -->
                <kendo-formfield *ngIf="bridgeGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="mac1" text="MAC Address LAN 1"></kendo-label>
                  <kendo-maskedtextbox formControlName="mac1" [mask]="macAddressMask" includeLiterals="true" #mac1>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The MAC Address of the first ethernet port on the computer.</kendo-formhint>
                  <kendo-formerror>Error: MAC Address LAN 1 is required.</kendo-formerror>
                </kendo-formfield>
                <!-- MAC Address LAN 2 -->
                <kendo-formfield *ngIf="bridgeGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="mac2" text="MAC Address LAN 2"></kendo-label>
                  <kendo-maskedtextbox formControlName="mac2" [mask]="macAddressMask" includeLiterals="true" #mac2>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The MAC Address of the second ethernet port on the computer.</kendo-formhint>
                  <kendo-formerror>Error: MAC Address LAN 2 is required.</kendo-formerror>
                </kendo-formfield>
                <!-- Gateway -->
                <kendo-formfield *ngIf="bridgeGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="gateway" text="Gateway"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="gateway" #gateway>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's router. Only one Gateway is allowed.</kendo-formhint>
                </kendo-formfield>
                <!-- Nameserver -->
                <kendo-formfield *ngIf="bridgeGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="nameserver1" text="Nameserver"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="nameserver1" #nameserver1>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's DNS server (default: 8.8.8.8).</kendo-formhint>
                </kendo-formfield>
                <!-- Backup Nameserver -->
                <kendo-formfield *ngIf="bridgeGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="nameserver2" text="Backup Nameserver"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="nameserver2" #nameserver2>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's backup DNS server (default: 8.8.4.4).</kendo-formhint>
                </kendo-formfield>
                <!-- Addresses -->
                <kendo-formfield *ngIf="bridgeGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" text="Addresses"></kendo-label>
                  <kendo-formhint>IP addresses of the bridge (can add multiple).</kendo-formhint>
                  <kendo-formerror>Error: Address is required.</kendo-formerror>
                </kendo-formfield>
                <kendo-grid *ngIf="bridgeGridEnabled" [data]="bridgeGridData" [height]="200"
                  [sortable]="{ allowUnsort: true, mode: 'single' }" [sort]="sort" (add)="bridgeGridAdd($event)"
                  (cancel)="bridgeGridCancel($event)" (save)="bridgeGridSave($event)"
                  (remove)="bridgeGridRemove($event)" (edit)="bridgeGridEdit($event)">
                  <!-- Toolbar -->
                  <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridAddCommand [svgIcon]="plusIcon">New IP
                      Address</button>
                  </ng-template>
                  <!-- Columns -->
                  <kendo-grid-column field="address" title="Address" [width]="150"> </kendo-grid-column>
                  <kendo-grid-column field="cidr" title="Subnet Mask" [width]="170">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{ getSubnetMask(dataItem.cidr)?.subnetMask }}
                    </ng-template>
                    <ng-template kendoGridEditTemplate let-formGroup="BridgeGridForm">
                      <kendo-dropdownlist [defaultItem]="{cidr: null, subnetMask: 'Select a subnet...'}"
                        [data]="subnetMaskCidr" textField="subnetMask" valueField="cidr" [valuePrimitive]="true"
                        [formControl]="BridgeGridForm.get('cidr')" [adaptiveMode]="true">
                      </kendo-dropdownlist>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-command-column title="Command" [width]="220">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                      <button kendoGridEditCommand themeColor="primary" type="button">Edit</button>
                      <button kendoGridRemoveCommand type="button">Remove</button>
                      <button kendoGridSaveCommand [disabled]="BridgeGridForm?.invalid" type="button">{{ isNew ? 'Add'
                        : 'Update'
                        }}</button>
                      <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                  </kendo-grid-command-column>
                </kendo-grid>
                <!-- Submit -->
                <br />
                <button kendoButton
                  [disabled]="!BridgeForm.valid || !bridgeGridData.length || bridgeGridEditing || loadingBridge"
                  themeColor="primary" type="submit">
                  <span class="spinner-border spinner-border-sm me-2" *ngIf="loadingBridge"></span>
                  <span>Submit</span>
                </button>
                <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="BridgeForm.dirty"></fa-icon>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ethernet 1, Ethernet 2 -->
    <div class="row justify-content-center mb-3">
      <!-- Ethernet 1 -->
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12" *ngIf="!bridgeGridEnabled">
        <div class="card border shadow">
          <div class="card-body">
            <h4 class="card-title">
              Ethernet 1
            </h4>
            <div class="card-text">
              <form [formGroup]="Eth0Form" (ngSubmit)="onSubmitEth0(Eth0Form)">
                <!-- Enabled -->
                <kendo-formfield>
                  <kendo-label labelCssClass="kendoFormLabel" [for]="enabled" text="Enabled"></kendo-label>
                  <kendo-switch formControlName="enabled" [onLabel]="'Yes'" [offLabel]="'No'" #enabled></kendo-switch>
                  <kendo-formhint>Port LAN1 on the computer.</kendo-formhint>
                </kendo-formfield>
                <!-- MAC Address -->
                <kendo-formfield *ngIf="eth0GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="mac" text="MAC Address"></kendo-label>
                  <kendo-maskedtextbox formControlName="mac" [mask]="macAddressMask" includeLiterals="true" #mac>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The MAC Address of the first ethernet port on the computer.</kendo-formhint>
                  <kendo-formerror>Error: MAC Address is required.</kendo-formerror>
                </kendo-formfield>
                <!-- Gateway -->
                <kendo-formfield *ngIf="eth0GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="gateway" text="Gateway"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="gateway" #gateway>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's router. Only one Gateway is allowed.</kendo-formhint>
                </kendo-formfield>
                <!-- Nameserver -->
                <kendo-formfield *ngIf="eth0GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="nameserver1" text="Nameserver"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="nameserver1" #nameserver1>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's DNS server (default: 8.8.8.8).</kendo-formhint>
                </kendo-formfield>
                <!-- Backup Nameserver -->
                <kendo-formfield *ngIf="eth0GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="nameserver2" text="Backup Nameserver"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="nameserver2" #nameserver2>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's backup DNS server (default: 8.8.4.4).</kendo-formhint>
                </kendo-formfield>
                <!-- Addresses -->
                <kendo-formfield *ngIf="eth0GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" text="Addresses"></kendo-label>
                  <kendo-formhint>IP addresses of the port.</kendo-formhint>
                  <kendo-formerror>Error: Address is required.</kendo-formerror>
                </kendo-formfield>
                <kendo-grid *ngIf="eth0GridEnabled" [data]="eth0GridData" [height]="200"
                  [sortable]="{ allowUnsort: true, mode: 'single' }" [sort]="sort" (add)="eth0GridAdd($event)"
                  (cancel)="eth0GridCancel($event)" (save)="eth0GridSave($event)" (remove)="eth0GridRemove($event)"
                  (edit)="eth0GridEdit($event)">
                  <!-- Toolbar -->
                  <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridAddCommand [svgIcon]="plusIcon">New IP
                      Address</button>
                  </ng-template>
                  <!-- Columns -->
                  <kendo-grid-column field="address" title="Address" [width]="150"> </kendo-grid-column>
                  <kendo-grid-column field="cidr" title="Subnet Mask" [width]="170">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{ getSubnetMask(dataItem.cidr)?.subnetMask }}
                    </ng-template>
                    <ng-template kendoGridEditTemplate let-formGroup="Eth0GridForm">
                      <kendo-dropdownlist [defaultItem]="{cidr: null, subnetMask: 'Select a subnet...'}"
                        [data]="subnetMaskCidr" textField="subnetMask" valueField="cidr" [valuePrimitive]="true"
                        [formControl]="Eth0GridForm.get('cidr')" cc>
                      </kendo-dropdownlist>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-command-column title="Command" [width]="220">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                      <button kendoGridEditCommand themeColor="primary" type="button">Edit</button>
                      <button kendoGridRemoveCommand type="button">Remove</button>
                      <button kendoGridSaveCommand [disabled]="Eth0GridForm?.invalid" type="button">{{ isNew ? 'Add' :
                        'Update'
                        }}</button>
                      <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                  </kendo-grid-command-column>
                </kendo-grid>
                <!-- Submit -->
                <br />
                <button kendoButton
                  [disabled]="!Eth0Form.valid || !eth0GridData.length || eth0GridEditing || loadingEth0"
                  themeColor="primary" type="submit">
                  <span class="spinner-border spinner-border-sm me-2" *ngIf="loadingEth0"></span>
                  <span>Submit</span>
                </button>
                <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="Eth0Form.dirty"></fa-icon>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Ethernet 2 -->
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12" *ngIf="!bridgeGridEnabled">
        <div class="card border shadow">
          <div class="card-body">
            <h4 class="card-title">
              Ethernet 2
            </h4>
            <div class="card-text">
              <form [formGroup]="Eth1Form" (ngSubmit)="onSubmitEth1(Eth1Form)">
                <!-- Enabled -->
                <kendo-formfield>
                  <kendo-label labelCssClass="kendoFormLabel" [for]="enabled" text="Enabled"></kendo-label>
                  <kendo-switch formControlName="enabled" [onLabel]="'Yes'" [offLabel]="'No'" #enabled></kendo-switch>
                  <kendo-formhint>Port LAN2 on the computer.</kendo-formhint>
                </kendo-formfield>
                <!-- MAC Address -->
                <kendo-formfield *ngIf="eth1GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="mac" text="MAC Address"></kendo-label>
                  <kendo-maskedtextbox formControlName="mac" [mask]="macAddressMask" includeLiterals="true" #mac>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The MAC Address of the second ethernet port on the computer.</kendo-formhint>
                  <kendo-formerror>Error: MAC Address is required.</kendo-formerror>
                </kendo-formfield>
                <!-- Gateway -->
                <kendo-formfield *ngIf="eth1GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="gateway" text="Gateway"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="gateway" #gateway>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's router. Only one Gateway is allowed.</kendo-formhint>
                </kendo-formfield>
                <!-- Nameserver -->
                <kendo-formfield *ngIf="eth1GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="nameserver1" text="Nameserver"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="nameserver1" #nameserver1>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's DNS server (default: 8.8.8.8).</kendo-formhint>
                </kendo-formfield>
                <!-- Backup Nameserver -->
                <kendo-formfield *ngIf="eth1GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="nameserver2" text="Backup Nameserver"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="nameserver2" #nameserver2>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's backup DNS server (default: 8.8.4.4).</kendo-formhint>
                </kendo-formfield>
                <!-- Addresses -->
                <kendo-formfield *ngIf="eth1GridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" text="Addresses"></kendo-label>
                  <kendo-formhint>IP addresses of the port.</kendo-formhint>
                  <kendo-formerror>Error: Address is required.</kendo-formerror>
                </kendo-formfield>
                <kendo-grid *ngIf="eth1GridEnabled" [data]="eth1GridData" [height]="200"
                  [sortable]="{ allowUnsort: true, mode: 'single' }" [sort]="sort" (add)="eth1GridAdd($event)"
                  (cancel)="eth1GridCancel($event)" (save)="eth1GridSave($event)" (remove)="eth1GridRemove($event)"
                  (edit)="eth1GridEdit($event)">
                  <!-- Toolbar -->
                  <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridAddCommand [svgIcon]="plusIcon">New IP
                      Address</button>
                  </ng-template>
                  <!-- Columns -->
                  <kendo-grid-column field="address" title="Address" [width]="150"> </kendo-grid-column>
                  <kendo-grid-column field="cidr" title="Subnet Mask" [width]="170">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{ getSubnetMask(dataItem.cidr)?.subnetMask }}
                    </ng-template>
                    <ng-template kendoGridEditTemplate let-formGroup="Eth1GridForm">
                      <kendo-dropdownlist [defaultItem]="{cidr: null, subnetMask: 'Select a subnet...'}"
                        [data]="subnetMaskCidr" textField="subnetMask" valueField="cidr" [valuePrimitive]="true"
                        [formControl]="Eth1GridForm.get('cidr')" cc>
                      </kendo-dropdownlist>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-command-column title="Command" [width]="220">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                      <button kendoGridEditCommand themeColor="primary" type="button">Edit</button>
                      <button kendoGridRemoveCommand type="button">Remove</button>
                      <button kendoGridSaveCommand [disabled]="Eth1GridForm?.invalid" type="button">{{ isNew ? 'Add' :
                        'Update'
                        }}</button>
                      <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                  </kendo-grid-command-column>
                </kendo-grid>
                <!-- Submit -->
                <br />
                <button kendoButton
                  [disabled]="!Eth1Form.valid || !eth1GridData.length || eth1GridEditing || loadingEth1"
                  themeColor="primary" type="submit">
                  <span class="spinner-border spinner-border-sm me-2" *ngIf="loadingEth1"></span>
                  <span>Submit</span>
                </button>
                <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="Eth1Form.dirty"></fa-icon>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Wi-Fi -->
    <div class="row justify-content-center mb-3">
      <!-- Wi-Fi -->
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card border shadow">
          <div class="card-body">
            <h4 class="card-title">
              Wi-Fi
            </h4>
            <div class="card-text">
              <form [formGroup]="WiFiForm" (ngSubmit)="onSubmitWiFi(WiFiForm)">
                <!-- Enabled -->
                <kendo-formfield>
                  <kendo-label labelCssClass="kendoFormLabel" [for]="enabled" text="Enabled"></kendo-label>
                  <kendo-switch formControlName="enabled" [onLabel]="'Yes'" [offLabel]="'No'" #enabled></kendo-switch>
                  <kendo-formhint>Wi-Fi network that the computer connects to (wlp1s0).</kendo-formhint>
                </kendo-formfield>
                <!-- Gateway -->
                <kendo-formfield *ngIf="wifiGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="gateway" text="Gateway"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="gateway" #gateway>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's router. Only one Gateway is allowed.</kendo-formhint>
                </kendo-formfield>
                <!-- Nameserver -->
                <kendo-formfield *ngIf="wifiGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="nameserver1" text="Nameserver"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="nameserver1" #nameserver1>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's DNS server (default: 8.8.8.8).</kendo-formhint>
                </kendo-formfield>
                <!-- Backup Nameserver -->
                <kendo-formfield *ngIf="wifiGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="nameserver2" text="Backup Nameserver"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="nameserver2" #nameserver2>
                  </kendo-maskedtextbox>
                  <kendo-formhint>The IP Address of the network's backup DNS server (default: 8.8.4.4).</kendo-formhint>
                </kendo-formfield>
                <!-- SSID -->
                <kendo-formfield *ngIf="wifiGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="SSID" text="SSID"></kendo-label>
                  <kendo-maskedtextbox formControlName="ssid" #SSID>
                  </kendo-maskedtextbox>
                  <kendo-formhint>Name of the Wi-Fi network to connect to (Service Set Identifier).</kendo-formhint>
                  <kendo-formerror>Error: SSID is required.</kendo-formerror>
                </kendo-formfield>
                <!-- SSID Password -->
                <kendo-formfield *ngIf="wifiGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" [for]="ssidPassword" text="SSID Password"
                    [optional]="true"></kendo-label>
                  <kendo-maskedtextbox formControlName="ssidPassword" #ssidPassword>
                  </kendo-maskedtextbox>
                  <kendo-formhint>Passphrase for WPA2 authentication. If not given, the network is assumed to be open.
                    Other authentication modes are not currently supported.</kendo-formhint>
                </kendo-formfield>
                <!-- Addresses -->
                <kendo-formfield *ngIf="wifiGridEnabled">
                  <kendo-label labelCssClass="kendoFormLabel" text="Addresses"></kendo-label>
                  <kendo-formhint>IP addresses of the network.</kendo-formhint>
                  <kendo-formerror>Error: Address is required.</kendo-formerror>
                </kendo-formfield>
                <kendo-grid *ngIf="wifiGridEnabled" [data]="wifiGridData" [height]="200"
                  [sortable]="{ allowUnsort: true, mode: 'single' }" [sort]="sort" (add)="wifiGridAdd($event)"
                  (cancel)="wifiGridCancel($event)" (save)="wifiGridSave($event)" (remove)="wifiGridRemove($event)"
                  (edit)="wifiGridEdit($event)">
                  <!-- Toolbar -->
                  <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridAddCommand [svgIcon]="plusIcon">New IP
                      Address</button>
                  </ng-template>
                  <!-- Columns -->
                  <kendo-grid-column field="address" title="Address" [width]="150"> </kendo-grid-column>
                  <kendo-grid-column field="cidr" title="Subnet Mask" [width]="170">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{ getSubnetMask(dataItem.cidr)?.subnetMask }}
                    </ng-template>
                    <ng-template kendoGridEditTemplate let-formGroup="WiFiGridForm">
                      <kendo-dropdownlist [defaultItem]="{cidr: null, subnetMask: 'Select a subnet...'}"
                        [data]="subnetMaskCidr" textField="subnetMask" valueField="cidr" [valuePrimitive]="true"
                        [formControl]="WiFiGridForm.get('cidr')" [adaptiveMode]="true">
                      </kendo-dropdownlist>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-command-column title="Command" [width]="220">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                      <button kendoGridEditCommand themeColor="primary" type="button">Edit</button>
                      <button kendoGridRemoveCommand type="button">Remove</button>
                      <button kendoGridSaveCommand [disabled]="WiFiGridForm?.invalid" type="button">{{ isNew ? 'Add' :
                        'Update'
                        }}</button>
                      <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                  </kendo-grid-command-column>
                </kendo-grid>
                <!-- Submit -->
                <br />
                <button kendoButton
                  [disabled]="!WiFiForm.valid || !wifiGridData.length || wifiGridEditing || loadingWiFi"
                  themeColor="primary" type="submit">
                  <span class="spinner-border spinner-border-sm me-2" *ngIf="loadingWiFi"></span>
                  <span>Submit</span>
                </button>
                <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="WiFiForm.dirty"></fa-icon>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>