<main>
  <div class="container">
    <!-- Refresh -->
    <div class="row justify-content-center mb-3">
      <div class="col text-center">
        <button kendoButton (click)="refreshNetwork()" [disabled]="loading">
          <span class="spinner-border spinner-border-sm me-2" *ngIf="loading"></span>
          Refresh
        </button>
      </div>
    </div>
    <!-- Interfaces -->
    <div class="row justify-content-center mb-3">
      <!-- Interfaces -->
      <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <div kendoTooltip filter="fa-icon">
                Interfaces
                <fa-icon [icon]="faCircleQuestion" title="Physical connections or virtual ones." class="ms-2"></fa-icon>
              </div>
            </h4>
            <div class="card-text">
              <div class="row mt-2 justify-content-center">
                <kendo-grid [data]="interfacesGridData" [height]="300" [sortable]="true" [sort]="interfacesGridSort"
                  (add)="interfacesGridAdd($event)" (cancel)="interfacesGridCancel($event)"
                  (save)="interfacesGridSave($event)" (remove)="interfacesGridRemove($event)"
                  (edit)="interfacesGridEdit($event)">
                  <!-- Toolbar -->
                  <ng-template kendoGridToolbarTemplate>
                    <button type="button" kendoGridAddCommand icon="plus" class="float-left">New Interface</button>
                  </ng-template>
                  <!-- Columns -->
                  <kendo-grid-column field="name" title="Name" [width]="150"> </kendo-grid-column>
                  <kendo-grid-column field="InterfaceType" title="Type" [width]="140">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{ GetInterfaceTypeDesc(dataItem.InterfaceType)?.InterfaceTypeDesc }}
                    </ng-template>
                    <ng-template kendoGridEditTemplate let-formGroup="formGroup">
                      <kendo-dropdownlist [defaultItem]="{InterfaceTypeID: null, InterfaceTypeDesc: 'Select Type...'}"
                        [data]="InterfaceTypes" textField="InterfaceTypeDesc" valueField="InterfaceTypeID"
                        [valuePrimitive]="true" [formControl]="formGroup.get('InterfaceType')"
                        (valueChange)="InterfaceTypeChange(formGroup)">
                      </kendo-dropdownlist>
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter>
                      <my-dropdown-filter [filter]="filter" [data]="InterfaceTypes" textField="InterfaceTypeDesc"
                        valueField="InterfaceTypeID">
                      </my-dropdown-filter>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="id" title="ID" [width]="100">
                    <ng-template kendoGridEditTemplate let-formGroup="formGroup">
                      <kendo-maskedtextbox [formControl]="formGroup.get('id')"></kendo-maskedtextbox>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-command-column title="Command" [width]="220">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                      <button kendoGridEditCommand themeColor="primary">Edit</button>
                      <button kendoGridRemoveCommand>Remove</button>
                      <button kendoGridSaveCommand [disabled]="InterfacesGridForm?.invalid">{{ isNew ? 'Add' : 'Update'
                        }}</button>
                      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                  </kendo-grid-command-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
