<main>
  <div class="container">
    <!-- Refresh -->
    <div class="row justify-content-center mb-3">
      <div class="col text-center">
        <button kendoButton (click)="refreshNetwork()" look="outline" [disabled]="loading">
          <span class="spinner-border spinner-border-sm" style="margin-right: 10px;" *ngIf="loading"></span>
          Refresh
        </button>
      </div>
    </div>
    <!-- Warning, Bridge, General -->
    <div class="row justify-content-center mb-3">
      <!-- Warning -->
      <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-7 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Warning</h4>
            <p class="card-text">
              Changing these values can cause connection to be lost. Select Refresh
              before making changes. Ensure station is not in use.
            </p>
          </div>
        </div>
      </div>
      <!-- Bridge -->
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                Bridge
                <i class="fa fa-info-circle text-left" aria-hidden="true"
                  title="Treat both ethernet ports of the eBox as a switch."></i>
              </div>
            </h4>
            <div class="card-text">
              <form [formGroup]="BridgeForm" (ngSubmit)="onSubmitBridge(BridgeForm)">
                <!-- Enabled -->
                <div class="row justify-content-center">
                  <div class="col">
                    <h6>Enabled</h6>
                    <kendo-switch formControlName="enabled" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
                  </div>
                </div>
                <!-- Gateway -->
                <div class="row justify-content-center mt-2" *ngIf="bridgeGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Gateway
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's router.  Only one Gateway is allowed."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="gateway">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Nameserver -->
                <div class="row justify-content-center mt-2" *ngIf="bridgeGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Nameserver
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's DNS server (default: 8.8.8.8)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="nameserver1">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Backup Nameserver -->
                <div class="row justify-content-center mt-2" *ngIf="bridgeGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Backup Nameserver
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's backup DNS server (default: 8.8.4.4)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="nameserver2">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Addresses -->
                <div class="row justify-content-center mt-2" *ngIf="bridgeGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Addresses
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="IP addresses of the bridge (can add multiple)."></i>
                    </div>
                    <kendo-grid [data]="bridgeGridData" [height]="200"
                      [sortable]="{ allowUnsort: true, mode: 'single' }" [sort]="sort" (add)="bridgeGridAdd($event)"
                      (cancel)="bridgeGridCancel($event)" (save)="bridgeGridSave($event)"
                      (remove)="bridgeGridRemove($event)" (edit)="bridgeGridEdit($event)">
                      <!-- Toolbar -->
                      <ng-template kendoGridToolbarTemplate>
                        <button type="button" kendoGridAddCommand icon="plus" class="float-left">New IP Address</button>
                      </ng-template>
                      <!-- Columns -->
                      <kendo-grid-column field="address" title="Address" [width]="150"> </kendo-grid-column>
                      <kendo-grid-column field="cidr" title="Subnet Mask" [width]="150">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          {{ getSubnetMask(dataItem.cidr)?.subnetMask }}
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-formGroup="BridgeGridForm">
                          <kendo-dropdownlist [defaultItem]="{cidr: null, subnetMask: 'Select a subnet...'}"
                            [data]="subnetMaskCidr" textField="subnetMask" valueField="cidr" [valuePrimitive]="true"
                            [formControl]="BridgeGridForm.get('cidr')">
                          </kendo-dropdownlist>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-command-column title="Command" [width]="220">
                        <ng-template kendoGridCellTemplate let-isNew="isNew">
                          <button kendoGridEditCommand [primary]="true">Edit</button>
                          <button kendoGridRemoveCommand>Remove</button>
                          <button kendoGridSaveCommand [disabled]="BridgeGridForm?.invalid">{{ isNew ? 'Add' : 'Update'
                            }}</button>
                          <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                        </ng-template>
                      </kendo-grid-command-column>
                    </kendo-grid>
                  </div>
                </div>
                <!-- Submit -->
                <div class="row mt-4 justify-content-center" *ngIf="bridgeGridEnabled">
                  <div class="col">
                    <button kendoButton
                      [disabled]="!BridgeForm.valid || !bridgeGridData.length || bridgeGridEditing || loadingBridge"
                      [primary]="true" type="submit">
                      <span class="spinner-border spinner-border-sm" style="margin-right: 10px;"
                        *ngIf="loadingBridge"></span>
                      <span>Submit</span>
                    </button>
                    <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="BridgeForm.dirty"></fa-icon>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- General -->
      <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              General
            </h4>
            <div class="card-text">
              <form [formGroup]="GeneralForm" (ngSubmit)="onSubmitGeneral(GeneralForm)">
                <!-- Controller IP Address -->
                <div class="row justify-content-center mt-2">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Controller IP Address
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="IP Address of the WebRelay / PLC that the eBox connects to."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="controllerIPaddress">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Reader IP Address -->
                <div class="row justify-content-center mt-2">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Reader IP Address
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="IP Address of the ethernet FOB reader, if used."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="readerIPaddress">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Submit -->
                <div class="row mt-4 justify-content-center">
                  <div class="col">
                    <button kendoButton [disabled]="!GeneralForm.valid || loadingGeneral" [primary]="true"
                      type="submit">
                      <span class="spinner-border spinner-border-sm" style="margin-right: 10px;"
                        *ngIf="loadingGeneral"></span>
                      <span>Submit</span>
                    </button>
                    <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="GeneralForm.dirty"></fa-icon>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ethernet 1, Ethernet 2 -->
    <div class="row justify-content-center mb-3">
      <!-- Ethernet 1 -->
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12" *ngIf="!bridgeGridEnabled">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                Ethernet 1
                <i class="fa fa-info-circle text-left" aria-hidden="true" title="Port LAN1 on the eBox (enp3s0)."></i>
              </div>
            </h4>
            <div class="card-text">
              <form [formGroup]="Eth1Form" (ngSubmit)="onSubmitEth1(Eth1Form)">
                <!-- Enabled -->
                <div class="row justify-content-center">
                  <div class="col">
                    <h6>Enabled</h6>
                    <kendo-switch formControlName="enabled" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
                  </div>
                </div>
                <!-- Gateway -->
                <div class="row justify-content-center mt-2" *ngIf="eth1GridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Gateway
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's router.  Only one Gateway is allowed."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="gateway">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Nameserver -->
                <div class="row justify-content-center mt-2" *ngIf="eth1GridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Nameserver
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's DNS server (default: 8.8.8.8)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="nameserver1">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Backup Nameserver -->
                <div class="row justify-content-center mt-2" *ngIf="eth1GridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Backup Nameserver
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's backup DNS server (default: 8.8.4.4)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="nameserver2">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Addresses -->
                <div class="row justify-content-center mt-2" *ngIf="eth1GridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Addresses
                      <i class="fa fa-info-circle text-left" aria-hidden="true" title="IP addresses of the port."></i>
                    </div>
                    <kendo-grid [data]="eth1GridData" [height]="200" [sortable]="{ allowUnsort: true, mode: 'single' }"
                      [sort]="sort" (add)="eth1GridAdd($event)" (cancel)="eth1GridCancel($event)"
                      (save)="eth1GridSave($event)" (remove)="eth1GridRemove($event)" (edit)="eth1GridEdit($event)">
                      <!-- Toolbar -->
                      <ng-template kendoGridToolbarTemplate>
                        <button type="button" kendoGridAddCommand icon="plus" class="float-left">New IP Address</button>
                      </ng-template>
                      <!-- Columns -->
                      <kendo-grid-column field="address" title="Address" [width]="150"> </kendo-grid-column>
                      <kendo-grid-column field="cidr" title="Subnet Mask" [width]="150">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          {{ getSubnetMask(dataItem.cidr)?.subnetMask }}
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-formGroup="Eth1GridForm">
                          <kendo-dropdownlist [defaultItem]="{cidr: null, subnetMask: 'Select a subnet...'}"
                            [data]="subnetMaskCidr" textField="subnetMask" valueField="cidr" [valuePrimitive]="true"
                            [formControl]="Eth1GridForm.get('cidr')">
                          </kendo-dropdownlist>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-command-column title="Command" [width]="220">
                        <ng-template kendoGridCellTemplate let-isNew="isNew">
                          <button kendoGridEditCommand [primary]="true">Edit</button>
                          <button kendoGridRemoveCommand>Remove</button>
                          <button kendoGridSaveCommand [disabled]="Eth1GridForm?.invalid">{{ isNew ? 'Add' : 'Update'
                            }}</button>
                          <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                        </ng-template>
                      </kendo-grid-command-column>
                    </kendo-grid>
                  </div>
                </div>
                <!-- Submit -->
                <div class="row mt-4 justify-content-center">
                  <div class="col">
                    <button kendoButton
                      [disabled]="!Eth1Form.valid || !eth1GridData.length || eth1GridEditing || loadingEth1"
                      [primary]="true" type="submit">
                      <span class="spinner-border spinner-border-sm" style="margin-right: 10px;"
                        *ngIf="loadingEth1"></span>
                      <span>Submit</span>
                    </button>
                    <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="Eth1Form.dirty"></fa-icon>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Ethernet 2 -->
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12" *ngIf="!bridgeGridEnabled">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                Ethernet 2
                <i class="fa fa-info-circle text-left" aria-hidden="true" title="Port LAN2 on the eBox (enp4s0)."></i>
              </div>
            </h4>
            <div class="card-text">
              <form [formGroup]="Eth2Form" (ngSubmit)="onSubmitEth2(Eth2Form)">
                <!-- Enabled -->
                <div class="row justify-content-center">
                  <div class="col">
                    <h6>Enabled</h6>
                    <kendo-switch formControlName="enabled" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
                  </div>
                </div>
                <!-- Gateway -->
                <div class="row justify-content-center mt-2" *ngIf="eth2GridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Gateway
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's router.  Only one Gateway is allowed."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="gateway">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Nameserver -->
                <div class="row justify-content-center mt-2" *ngIf="eth2GridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Nameserver
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's DNS server (default: 8.8.8.8)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="nameserver1">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Backup Nameserver -->
                <div class="row justify-content-center mt-2" *ngIf="eth2GridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Backup Nameserver
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's backup DNS server (default: 8.8.4.4)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="nameserver2">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Addresses -->
                <div class="row justify-content-center mt-2" *ngIf="eth2GridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Addresses
                      <i class="fa fa-info-circle text-left" aria-hidden="true" title="IP addresses of the port."></i>
                    </div>
                    <kendo-grid [data]="eth2GridData" [height]="200" [sortable]="{ allowUnsort: true, mode: 'single' }"
                      [sort]="sort" (add)="eth2GridAdd($event)" (cancel)="eth2GridCancel($event)"
                      (save)="eth2GridSave($event)" (remove)="eth2GridRemove($event)" (edit)="eth2GridEdit($event)">
                      <!-- Toolbar -->
                      <ng-template kendoGridToolbarTemplate>
                        <button type="button" kendoGridAddCommand icon="plus" class="float-left">New IP Address</button>
                      </ng-template>
                      <!-- Columns -->
                      <kendo-grid-column field="address" title="Address" [width]="150"> </kendo-grid-column>
                      <kendo-grid-column field="cidr" title="Subnet Mask" [width]="150">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          {{ getSubnetMask(dataItem.cidr)?.subnetMask }}
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-formGroup="Eth2GridForm">
                          <kendo-dropdownlist [defaultItem]="{cidr: null, subnetMask: 'Select a subnet...'}"
                            [data]="subnetMaskCidr" textField="subnetMask" valueField="cidr" [valuePrimitive]="true"
                            [formControl]="Eth2GridForm.get('cidr')">
                          </kendo-dropdownlist>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-command-column title="Command" [width]="220">
                        <ng-template kendoGridCellTemplate let-isNew="isNew">
                          <button kendoGridEditCommand [primary]="true">Edit</button>
                          <button kendoGridRemoveCommand>Remove</button>
                          <button kendoGridSaveCommand [disabled]="Eth2GridForm?.invalid">{{ isNew ? 'Add' : 'Update'
                            }}</button>
                          <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                        </ng-template>
                      </kendo-grid-command-column>
                    </kendo-grid>
                  </div>
                </div>
                <!-- Submit -->
                <div class="row mt-4 justify-content-center">
                  <div class="col">
                    <button kendoButton
                      [disabled]="!Eth2Form.valid || !eth2GridData.length || eth2GridEditing || loadingEth2"
                      [primary]="true" type="submit">
                      <span class="spinner-border spinner-border-sm" style="margin-right: 10px;"
                        *ngIf="loadingEth2"></span>
                      <span>Submit</span>
                    </button>
                    <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="Eth2Form.dirty"></fa-icon>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Wi-Fi -->
    <div class="row justify-content-center mb-3">
      <!-- Wi-Fi -->
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                Wi-Fi
                <i class="fa fa-info-circle text-left" aria-hidden="true"
                  title="Wi-Fi network that the eBox connects to (wlp1s0)."></i>
              </div>
            </h4>
            <div class="card-text">
              <form [formGroup]="WiFiForm" (ngSubmit)="onSubmitWiFi(WiFiForm)">
                <!-- Enabled -->
                <div class="row justify-content-center">
                  <div class="col">
                    <h6>Enabled</h6>
                    <kendo-switch formControlName="enabled" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
                  </div>
                </div>
                <!-- Gateway -->
                <div class="row justify-content-center mt-2" *ngIf="wifiGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Gateway
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's router.  Only one Gateway is allowed."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="gateway">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Nameserver -->
                <div class="row justify-content-center mt-2" *ngIf="wifiGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Nameserver
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's DNS server (default: 8.8.8.8)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="nameserver1">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Backup Nameserver -->
                <div class="row justify-content-center mt-2" *ngIf="wifiGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Backup Nameserver
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="The IP Address of the network's backup DNS server (default: 8.8.4.4)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="nameserver2">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- SSID -->
                <div class="row justify-content-center mt-2" *ngIf="wifiGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      SSID
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="Name of the Wi-Fi network to connect to (Service Set Identifier)."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="ssid">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- SSID Password -->
                <div class="row justify-content-center mt-2" *ngIf="wifiGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      SSID Password
                      <i class="fa fa-info-circle text-left" aria-hidden="true"
                        title="Passphrase for WPA2 authentication.  If not given, the network is assumed to be open.  Other authentication modes are not currently supported."></i>
                    </div>
                    <kendo-maskedtextbox formControlName="ssidPassword">
                    </kendo-maskedtextbox>
                  </div>
                </div>
                <!-- Addresses -->
                <div class="row justify-content-center mt-2" *ngIf="wifiGridEnabled">
                  <div class="col">
                    <div kendoTooltip tooltipClass="tooltip-info" filter="i">
                      Addresses
                      <i class="fa fa-info-circle text-left" aria-hidden="true" title="IP addresses of the port."></i>
                    </div>
                    <kendo-grid [data]="wifiGridData" [height]="200" [sortable]="{ allowUnsort: true, mode: 'single' }"
                      [sort]="sort" (add)="wifiGridAdd($event)" (cancel)="wifiGridCancel($event)"
                      (save)="wifiGridSave($event)" (remove)="wifiGridRemove($event)" (edit)="wifiGridEdit($event)">
                      <!-- Toolbar -->
                      <ng-template kendoGridToolbarTemplate>
                        <button type="button" kendoGridAddCommand icon="plus" class="float-left">New IP Address</button>
                      </ng-template>
                      <!-- Columns -->
                      <kendo-grid-column field="address" title="Address" [width]="150"> </kendo-grid-column>
                      <kendo-grid-column field="cidr" title="Subnet Mask" [width]="150">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          {{ getSubnetMask(dataItem.cidr)?.subnetMask }}
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-formGroup="WiFiGridForm">
                          <kendo-dropdownlist [defaultItem]="{cidr: null, subnetMask: 'Select a subnet...'}"
                            [data]="subnetMaskCidr" textField="subnetMask" valueField="cidr" [valuePrimitive]="true"
                            [formControl]="WiFiGridForm.get('cidr')">
                          </kendo-dropdownlist>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-command-column title="Command" [width]="220">
                        <ng-template kendoGridCellTemplate let-isNew="isNew">
                          <button kendoGridEditCommand [primary]="true">Edit</button>
                          <button kendoGridRemoveCommand>Remove</button>
                          <button kendoGridSaveCommand [disabled]="WiFiGridForm?.invalid">{{ isNew ? 'Add' : 'Update'
                            }}</button>
                          <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                        </ng-template>
                      </kendo-grid-command-column>
                    </kendo-grid>
                  </div>
                </div>
                <!-- Submit -->
                <div class="row mt-4 justify-content-center">
                  <div class="col">
                    <button kendoButton
                      [disabled]="!WiFiForm.valid || !wifiGridData.length || wifiGridEditing || loadingWiFi"
                      [primary]="true" type="submit">
                      <span class="spinner-border spinner-border-sm" style="margin-right: 10px;"
                        *ngIf="loadingWiFi"></span>
                      <span>Submit</span>
                    </button>
                    <fa-icon [icon]="faPencilAlt" style="margin-left: 10px;" *ngIf="WiFiForm.dirty"></fa-icon>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
