/*
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.txt', which is part of this source code bundle.
 */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font: inherit;
    font-family: Roboto-Regular !important;
}
@-ms-viewport{
  width: device-width;
}

/* Data Stretch for whole screen swipe */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* Custom Fonts */
@font-face {
    font-family: Roboto-Black;
    src: url(../osrc/fonts/RobotoTTF/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../osrc/fonts/RobotoTTF/Roboto-Regular.ttf);
}

/* Spans */
.heading_1 {
    font-size: 18pt;
    font-weight: 600;
}
.heading_2 {
    font-size: 16pt;
    font-weight: 600;
}
.heading_3 {
    font-size: 14pt;
    /*font-weight: 600;*/
}
.heading_4 {
    font-size: 12pt;
    font-weight: 600;
}
.heading_5 {
    font-size: 10pt;
    font-weight: 600;
}
.heading_10 {
    font-size: 40pt;
    font-weight: 600;
}

/* Buttons */
.navbar_button {
    width: 100px;
}
.custom_button .km-text {
    font-size: 14pt;
}
.center_button button {
    display:block;    
    margin: auto;
}
.button_group {
    text-align: center;
    letter-spacing: 10px;
    padding: 10px;
}
.yes_no_window button {
    height: 100%; 
    width: 47%; 
    font-size: 16pt;
    font-weight: 600;
}

/* Alignment */
.align_left {
    float: left;
}
.align_right {
    float: right;
}
.align_center {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.align_center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Inputs */
.center_input {
    width: 200px;
    display: inline-block;
    text-align: center;
}
.center_input_li {
    text-align: center;
}
.center_left_div {
    display: inline-block;
    text-align: left;
}

/************ Format ************/
.include_spaces {
    white-space: pre;
}
.break_word {
    word-wrap: break-word;
}
.k-notification-wrap {
    font-size: 12pt;
}
/*.k-dialog-buttongroup .k-dialog-button-layout-stretched .k-button .k-primary {
    width: 49% !important;
}*/
li.k-button.k-primary {
    width: 49.5% !important;
}
.k-window-titlebar.k-header {
    height: 40px;
}
/* Tables */
.login_screen {
    /*width:100%;*/
    /*padding: 10px;*/
    /*border-spacing: 0 20px;*/
    margin-left:auto; 
    margin-right:auto;
}
.login_screen td {
    /*border: solid 2px lightgrey;*/
    table-layout: fixed;
    /*width: 50%;*/
    word-wrap: break-word;
    padding: 10px;
    text-align: right;
    vertical-align: middle;
}
.table_two_columns {
    border-spacing: 10px;
    margin-left:auto; 
    margin-right:auto;
}
.table_two_columns td {
    width: 50%;
    word-wrap: break-word;
    vertical-align: middle;
}
.table_three_columns {
    padding: 10px;
    margin-left:auto; 
    margin-right:auto;
}
.table_three_columns td {
    width: 33.33%;
    outline: thin solid lightgrey;
    table-layout: fixed;
    word-wrap: break-word;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.table_four_columns {
    padding-top: 15px;
    border-spacing: 15px;
    margin-left:auto; 
    margin-right:auto;
}
.table_four_columns td {
    width: 25%;
    word-wrap: break-word;
    text-align: right;
    vertical-align: middle;
}
.pickup_template_table {
    padding: 10px;
    margin-left: auto; 
    margin-right: auto;
    border-collapse: collapse;
}
.pickup_template_table td {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    word-wrap: break-word;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}
.schedule_table {
    padding: 10px;
    margin-left:auto; 
    margin-right:auto;
}
.schedule_table td {
    width: 20%;
    outline: thin solid lightgrey;
    table-layout: fixed;
    word-wrap: break-word;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.help {
    cursor: help;
}

/************ Colors/Background ************/
.negative_field {
    color: red;
}
.positive_field {
    color: #1B5E20;
}
.required_field {
    color: red;
}
/* Buttons */
.cancel_button_accept .km-button {
    color: white;
    background-color: red;
}
.submit_button_accept .km-button {
    color: white;
    background-color: green;
}
.confirm_no_button {
    color: white;
    background-color: red;
}
.confirm_yes_button {
    color: white;
    background-color: green;
}
.confirmation {
    color: black !important;
}
.km-nova #main_pane .km-content {
    background: url(../kendo/styles/textures/brushed-metal.png) repeat 0% 0%;
    /*background: #E8F5E9;*/
}
#login_window {
    background: url(../kendo/styles/textures/brushed-metal.png) repeat 0% 0%;
}
