/*****************  *****************/
/* #region */
/* #endregion */

/******************** Fonts ********************/
/* #region */

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/Roboto-Regular.ttf") format("truetype");
}

/* #endregion */
/******************** General ********************/
/* #region */

body {
  font-family: "Roboto-Regular", sans-serif;
  color: #445464;
  background-image: url("assets/gplaypattern.png");
  background-repeat: repeat;
}

.notification {
  font-size: 16pt;
}

/* #endregion */
