/*****************  *****************/
/* #region */
/* #endregion */

/******************** Fonts ********************/
/* #region */

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/Roboto-Regular.ttf") format("truetype");
}

/* #endregion */
/******************** General ********************/
/* #region */

.notification {
  font-size: 16pt;
}

.kendoFormLabel {
  margin-top: 7px !important;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  color: #445464;
  background-color: #ffffff;
  background-image: url("assets/topography.svg");
  background-repeat: repeat;
}

/* #endregion */
